.help-contact {
  background-color: #1da1f273;
  padding: 1rem;
  text-align: center;
}

.help-contact h2 {
  margin: 0 auto;
  text-align: center;
}

.help-contact p {
  margin: 1rem auto 1rem;
  max-width: 250px;
}

.help-contact button {
  background-color: #00aa3f;
  font-size: 1rem;
  margin: 0 auto;
  width: 70%;
  max-width: 200px;

}
