@use "../modal-login/modal-login.component.scss";


.terms {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;

  .checkbox {

    // change
    input {
      -ms-transform: scale(1.5);
      /* IE */
      -moz-transform: scale(1.5);
      /* FF */
      -webkit-transform: scale(1.5);
      /* Safari and Chrome */
      -o-transform: scale(1.5);
      /* Opera */
      transform: scale(1.5);
      margin-right: 15px;
    }
  }

  .terms-text {
    // line-height: 1.2rem;
    font-size: .9rem;
    // text-align: left;

  }
}

.input-field:nth-of-type(3) {
  margin: 0 !important;
}
