<div class="modal" [class.open]="this.modalService.modalOpened" role="dialog">
  <div class="modal-content">
    <div class="modal-card">
      <!-- (clickOutside)="closeModal()" -->
      <div class="modal-header">
        <div class="close">
          <button (click)="this.modalService.closeModal()"><img src="../../../../assets/icons/close-white-18dp.svg"
              alt="Close Icon"></button>
        </div>
        <img class="logo-modal" src="../../../../assets/logo/viktorslab_3D.png" alt="Viktor's Lab Logo">
      </div>
      <app-modal-login *ngIf="!this.modalService.signUpOpened"></app-modal-login>
      <app-modal-signup *ngIf="this.modalService.signUpOpened"></app-modal-signup>
    </div>
  </div>
</div>
<!-- <app-modal-login *ngIf="!signUpOpened" (openSignUpForm)="openSignUpForm($event)"></app-modal-login> -->
<!-- <app-modal-signup *ngIf="signUpOpened" (openLoginForm)="openLoginForm($event)"></app-modal-signup> -->
