@use "../../partials/_gradients.scss";
@use "../modal-login/modal-login.component.scss";

#modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
}

#modal.open {
  display: block;
  // .modal-content {
  //   transform: translate(0, 0);
  // }
}

.modal-content {
  max-width: 300px;
  margin: 20px auto;
  // transform: translate(0, -35%);
  // transition: transform .3s ease-out;

  .modal-card {
    @include _gradients.modalCardBlueGreenGradient();
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px auto;
    border-radius: .5rem;

    .modal-header {
      text-align: center;

      .close {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 20px;

        button {
          background: none;
        }

        img {
          width: 25px;
        }

      }

      .logo-modal {
        max-width: 220px;
        padding: 40px 0px 20px 0px;
      }

    }
  }
}
