<ng-container *ngIf="order$ | async as o">
  <div>Username - {{ o.orderUsername }}</div>
  <div>Type - {{ o.orderServiceType }}</div>
  <div>Server - {{ o.orderServer }}</div>
  <div>Status - {{ o.orderStatus }}</div>
  <div>Started Rank - {{ o.orderCurrentRank }}</div>
  <div>Current Rank - {{ o.orderBoostedRank }}</div>
  <div>Desired Rank - {{ o.orderDesiredRank }}</div>
  <ng-container *ngIf="auth.user$ | async as user; else staff">
    <h3></h3>
    <input [(ngModel)]="accPassword" />
    <button (click)="updateAccPassword()">Save</button>
    <!-- <ng-container *ngIf="Status == 'Active'; else unPausedTemplate"> -->
    <ng-container *ngIf="o.orderStatus == 'Active'; else unPausedTemplate">
      <button (click)="toggleOrderPause(o.orderStatus)">Pause Order</button>
    </ng-container>
    <ng-template #unPausedTemplate>
      <button (click)="toggleOrderPause(o.orderStatus)">Continue Order</button>
    </ng-template>
    <button>
      <a routerLink="/">Navigate Back</a>
    </button>
    <!-- add loading to confirm completion -->
    <ng-container *ngIf="o.orderStatus == 'Marked as Completed'">
      <button (click)="confirmCompletion(o.orderStatus, o.orderCompleted)">
        Confirm Completion
      </button>
    </ng-container>
    <br />
    <div>{{ o.orderFeed }}</div>
    <ng-container *ngIf="o.orderStatus === 'Completed'">
      <app-send-feedback [orderId]="orderId" [feedbackSent]="o.orderFeedback"></app-send-feedback>
    </ng-container>
  </ng-container>
  <ng-template #staff>
    <div *ngIf="staffauth.staff$ | async as staff">
      <button>
        <a style="text-decoration: none;" routerLink="/staff/dashboard/">Navigate Back</a>
      </button>
      <button *ngIf="
          o.orderStatus != 'Marked as Completed' && o.orderStatus != 'Completed'
        " (click)="markAsCompleted()">
        Mark as Completed
      </button>
    </div>
  </ng-template>
</ng-container>
<app-chat [orderId]="orderId"></app-chat>
