<section class="header">
  <app-navigation></app-navigation>
  <h2>Play with a Pro</h2>
  <h3>Duo Queue Boosting</h3>
  <p>
    Play with a professional player and see how they do it!
  </p>
</section>
<section class="content">
  <h3 class="content-heading">
    Your Current Rank<span> *</span>
  </h3>
  <p>Select your Current Rank below.</p>
  <div class="order-menu" fxLayout="row">
    <div class="order-selections" fxFlex="55" fxLayout="column" fxLayoutAlign="space-between">
      <div class="select-box">
        <h6>Current Tier</h6>
        <select>
          <option>
            Gold
          </option>
        </select>
      </div>
      <div class="select-box">
        <h6>Current Division</h6>
        <select>
          <option>
            IV
          </option>
        </select>
      </div>
      <div class="half" fxLayout="row" fxLayoutAlign="space-between start">
        <div class="select-box" fxFlex="45">
          <h6>Server</h6>
          <select>
            <option>
              EU West
            </option>
          </select>
        </div>
        <div class="select-box" fxFlex="50">
          <h6>Queue</h6>
          <select>
            <option>
              SoloQ
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="order-rank-img" fxFlex="45" fxLayout="column" fxLayoutAlign="end center">
      <img src="../../assets/rank-images/gold_4.png" alt="" />
      <span>Gold IV</span>
    </div>
  </div>
  <h3 class="content-heading">
    Amount of Games<span> *</span>
  </h3>
  <p>Choose the amount of games you want to play with the booster.</p>
  <div class="order-games-amount" fxLayout="row">
    <div fxFlex="55">
      <!-- slider -->
    </div>
    <div fxFlex="45" fxLayout="column" fxLayoutAlign="center center">
      <h3>5</h3>
      <h4>GAMES</h4>
    </div>
  </div>
  <!-- slider-component -->
</section>
