<form action="" [formGroup]="signInForm">
    <h3>Staff Login</h3>
    <label for="email">Email</label>
<br>
    <input type="email" formControlName="email">
    <div *ngIf="email.invalid && email.dirty">You email     doesn't look right</div>
    <br>
    <label for="password">Password</label>
    <br>
    <input type="password" formControlName="password" name="" id="" required>
    
    <button type="submit" (click)="emailSignIn()">Submit</button>
    <!-- cant disable the button because of google autofill -->
</form>