<div class="wrapper">
  <section class="header" fxLayoutAlign="center">
    <img src="../../assets/viktorslab_3D.png" class="logo" />
  </section>
  <section class="content" fxLayout="column">
    <h3>About Project</h3>
    <p>
      This is my prototype for a future project and a business idea. My goal as
      a software developer is to find solutions to real world problems and
      create new business ventures.<br />My goal with this project is to expand
      my knowledge in Web Development and implement the core features of the
      project.
    </p>
    <div fxLayoutAlign="center">
      <button [routerLink]="'lol-boost'" class="primaryButton">
        Continue to Application
      </button>
    </div>
    <h3>Tools used...</h3>
    <div class="tools" fxLayout="row wrap">
      <div *ngFor="let t of tools" class="tool" fxLayoutAlign="center center" fxLayout="column">
        <img [src]="t.toolUrl" alt="toolLogo" class="toolLogo" />
        <span class="toolDesc">{{ t.toolDesc }}</span>
      </div>
    </div>
  </section>
</div>
