@media only screen and (max-width: 599px) {
  .wrapper {
    padding: 0 30px 10px;
  }

  .header {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .logo {
    max-width: 80vw;
  }

  .content h3 {
    /* font-weight: bold; */
    margin-bottom: 20px;
    font-size: 20px;
  }

  .content p {
    font-size: 16px;

  }

  .primaryButton {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .content h4 {
    margin-bottom: 20px;
  }

  .toolLogo {
    max-width: 40px;
    max-height: 40px;
  }

  .toolDecs {
    font-size: 10px;
  }
}
