.order-box {
  background-color: #1f2023;
  border: 1px solid #2d2f34;
  border-radius: 0.8rem;
  margin-bottom: 1rem;

  .order-details {
    padding: 1rem;

    .detail {
      h5 {
        display: inline-block;
        font-size: 1rem;
        font-weight: 400;
      }

      span {
        font-size: 1rem;
        font-weight: 600;
        float: right;
      }
    }

    .detail:last-child {
      margin: 0;
    }
  }

  .order-status {
    padding-top: 0.5rem;

    span {
      text-align: center;
      font-weight: 600;
      text-transform: capitalize;
      margin-top: 10px;
      font-size: 1.1rem;
    }
  }

  .order-button {
    background-color: #129409;
    border-radius: 0.5rem;
    width: 90%;
    height: 60%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
      font-weight: 600;
      color: #fff;
    }
  }

  .take-job {
    background-color: #2b52c5;
  }
}

//}
