<section class="header">
  <app-navigation></app-navigation>
  <h2>Current Orders</h2>
  <p>
    Check for any available and assigned orders here.
  </p>
</section>
<ng-container *ngIf="staff$ | async as staff">
  <div class="username">
    <h3>{{ staff.displayName }}</h3>
  </div>
</ng-container>
<section class="content"> 
  <ng-container *ngIf="orders$ | async as orders">
    <div class="assigned-orders">
      <h3 class="content-heading">Assigned Orders</h3>
      <div *ngFor="let order of orders" class="order-box" fxLayout.lt-sm="row">
        <div class="order-details" fxLayout.lt-sm="column" fxLayoutGap="5px" fxFlex="70">
          <div class="detail">
            <h5>Order ID</h5>
            <span>{{ order.id }}</span>
          </div>
          <div class="detail">
            <h5>Target</h5>
            <span>{{ order.orderDesiredRank }}</span>
          </div>
          <div class="detail">
            <h5>Queue</h5>
            <span>{{ order.orderServiceType }}</span>
          </div>
          <div class="detail">
            <h5>Region</h5>
            <span>{{ order.orderServer }}</span>
          </div>
        </div>
        <div fxLayout="column" fxFlex="30">
          <div class="order-status" fxLayout="column" fxLayoutAlign.lt-sm="center center" fxFlex="50">
            <h4>Status</h4>
            <span>{{ order.orderStatus }}</span>
          </div>
          <div class="order-join-chat" fxFlex="50" fxLayoutAlign.lt-sm="center center">
            <a routerLink="/orders/ + order.id">
              Join Chat</a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="availableOrders$ | async as avOrders">
    <h3 class="content-heading">Available Orders</h3>
    <div *ngFor="let order of avOrders" class="order-box" fxLayout.lt-sm="row">
      <div class="order-details" fxLayout="column" fxLayoutGap="5px" fxFlex="70">
        <div class="detail">
          <h5>Order ID</h5>
          <span>{{ order.id }}</span>
        </div>
        <div class="detail">
          <h5>Target</h5>
          <span>{{ order.orderDesiredRank }}</span>
        </div>
        <div class="detail">
          <h5>Queue</h5>
          <span>{{ order.orderServiceType }}</span>
        </div>
        <div class="detail">
          <h5>Region</h5>
          <span>{{ order.orderServer }}</span>
        </div>
      </div>
      <div fxLayout="column" fxFlex="30">
        <div class="order-status available" fxLayout="column" fxLayoutAlign.lt-sm="center center" fxFlex="70">
          <h4>Status</h4>
          <span>{{ order.orderStatus }}</span>
        </div>
        <div class="order-take-job" fxFlex="30" fxLayoutAlign.lt-sm="center center">
          <a routerLink="'/orders/' + order.id">
            Take Job</a>
        </div>
      </div>
    </div>
  </ng-container>
</section>


<!-- <button [routerLink]="'/orders/'+ o.id">Order: {{o.id}} - From {{ o.orderCurrentRank }} - To {{ o.orderDesiredRank}} -
        Username: {{ o.orderUsername }}</button> -->

<!-- <ng-container *ngIf="staff$ | async as staff">
          <h3>Staff Dashboard</h3>
          <label for="email">Your email is</label>
          <div> {{ staff.email }}</div>
          <br>
          <label for="displayName">Your display name is</label>
          <div> {{ staff.displayName }}</div>
          <Br>
          <label for="displayName">Enter new Display Name</label>
          <br>
          <input type="text" name="displayName" id="" [(ngModel)]="displayName">
          <button (click)="changeDisplayName()">Change</button>
        </ng-container> -->
