<section class="header">
  <app-navigation></app-navigation>
  <div class="header-content">
    <h1>Get your <br />Desired Rank</h1>
    <p>
      Let a professional player play on your account to quickly get to your
      desired division!
    </p>
  </div>
  <app-services-menu></app-services-menu>
</section>
<div class="content">
  <div class="order-menu">
    <div class="menu-item">
      <div class="display">
        <h2>1. Current Rank<span class="red"> *</span></h2>
        <p>Select your Current Rank below.</p>
        <img [src]="orderDetails.startRank.imgURL" alt="Current Rank Image" />
      </div>
      <div class="controls" fxLayout="column" fxLayoutGap="1.5rem">
        <div class="rank-controls" fxLayout="row" fxLayoutGap="5px">
          <button class="controls-btn" (click)="reduceStartRank()">
            <i class="material-icons">
              keyboard_arrow_down
            </i>
          </button>
          <div class="rank" (click)="toggleStartRankMenu()" (clickOutside)="clickOutsideStartRank($event)">
            <span>{{ orderDetails.startRank.name }}</span>
            <ul class="dropdown-menu" [class.open]="startRankOpened">
              <li *ngFor="let league of leagues | slice: 0:leagues.length - 1" (click)="selectStartRank(league.id)">
                {{ league.name }}
              </li>
            </ul>
          </div>
          <button class="controls-btn" (click)="increaseStartRank()">
            <i class="material-icons">
              keyboard_arrow_up
            </i>
          </button>
        </div>
        <div class="division-controls">
          <ul fxLayout="row wrap">
            <li *ngFor="let division of divisions" class="controls-btn" (click)="selectStartDivision(division.id)"
              [class.selected]="division.id === orderDetails.startDivision.id">
              {{ division.name }}
            </li>
          </ul>
        </div>
        <div class="leaguepoints-controls">
          <ul fxLayout="row wrap">
            <li *ngFor="let lp of leaguePoints" (click)="selectLeaguePoints(lp.id)"
              [class.selected]="lp.id === orderDetails.leaguePoints.id" class="controls-btn"
              fxLayoutAlign="center center">
              {{ lp.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="menu-item">
      <div class="display">
        <h2>2. Desired Rank<span class="red"> *</span></h2>
        <p>Select your Desired Rank below.</p>
        <img [src]="orderDetails.desiredRank.imgURL" alt="Desired Rank Image" />
      </div>
      <div class="controls desired" fxLayout="column" fxLayoutGap="1.5rem">
        <div class="rank-controls" fxLayout="row" fxLayoutGap="5px">
          <button class="controls-btn" (click)="reduceDesiredRank()">
            <i class="material-icons">
              keyboard_arrow_down
            </i>
          </button>
          <div class="rank" (clickOutside)="clickOutsideDesiredRank($event)" (click)="toggleDesiredRankMenu()">
            <span>{{ orderDetails.desiredRank.name }}</span>
            <ul class="dropdown-menu" [class.open]="desiredRankOpened">
              <li *ngFor="let league of leagues" (click)="selectDesiredRank(league.id)">
                {{ league.name }}
              </li>
            </ul>
          </div>
          <button class="controls-btn" (click)="increaseDesiredRank()">
            <i class="material-icons">
              keyboard_arrow_up
            </i>
          </button>
        </div>
        <div class="division-controls">
          <ul fxLayout="row wrap">
            <li *ngFor="let division of divisions" (click)="selectDesiredDivision(division.id)" class="controls-btn"
              [class.selected]="orderDetails.desiredDivision.id === division.id">
              <span>{{ division.name }}</span>
            </li>
          </ul>
        </div>
        <div class="server-queue-controls" fxLayout="row">
          <div class="server">
            <h5 class="heading-label">Server<span class="red"> *</span></h5>
            <div class="select" (click)="toggleServerMenu()" (clickOutside)="clickOutsideServer($event)">
              <span>{{ orderDetails.server.name }}</span>
              <ul class="dropdown-menu" [class.open]="serverDropdownOpened">
                <li *ngFor="let server of servers" (click)="selectServer(server.id)">
                  {{ server.name }}
                </li>
              </ul>
            </div>
          </div>
          <div class="queue">
            <h5 class="heading-label">Queue</h5>
            <div class="select" (click)="toggleQueueMenu()" (clickOutside)="clickOutsideQueue($event)">
              <span>{{ orderDetails.queue.name }}</span>
              <ul class="dropdown-menu" [class.open]="queueDropdownOpened">
                <li *ngFor="let queue of queues" (click)="selectQueue(queue.id)">
                  {{ queue.name }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-item">
      <div class="display">
        <h2>3. Summoner Spells</h2>
        <p>
          Here you can choose wich keys you normally use for usummoner spells.
          (optional)
        </p>
      </div>
      <div class="summoner-spells" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="2.5rem">
        <div class="summoner-spell" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.5rem">
          <div class="keybind">D</div>
          <img [src]="orderDetails.summonerSpell_1.imgURL" alt="Summoner Spell Icon on D" />
          <div class="select" (click)="toggleSummonerKeyDMenu()" (clickOutside)="clickOutsideSummonerKeyD($event)">
            <span>{{ orderDetails.summonerSpell_1.name }} </span>
            <ul class="dropdown-menu" [class.open]="DsummonerDropdownOpened">
              <li *ngFor="let summonerSpell of summoners" (click)="selectSummonerKeyD(summonerSpell.id)">
                {{ summonerSpell.name }}
              </li>
            </ul>
          </div>
        </div>
        <div class="summoner-spell" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.5rem">
          <div class="keybind">F</div>
          <img [src]="orderDetails.summonerSpell_2.imgURL" alt="Summoner Spell Icon on F" />
          <div class="select" (click)="toggleSummonerKeyFMenu()" (clickOutside)="clickOutsideSummonerKeyF($event)">
            <span>{{ orderDetails.summonerSpell_2.name }} </span>
            <ul class="dropdown-menu" [class.open]="FsummonerDropdownOpened">
              <li *ngFor="let summonerSpell of summoners" (click)="selectSummonerKeyF(summonerSpell.id)">
                {{ summonerSpell.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-item">
      <div class="display">
        <h2>4. Roles</h2>
        <p>You can choose your primary and secondary roles. (optional)</p>
      </div>
      <div class="roles" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="2.5rem">
        <div class="role" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.5rem">
          <h4>Primary Role</h4>
          <img [src]="orderDetails.primaryRole.imgURL" alt="Primary Role" />
          <div class="select" (click)="togglePrimaryRoleMenu()" (clickOutside)="clickOutsidePrimaryRole($event)">
            <span>{{ orderDetails.primaryRole.name }}</span>
            <ul class="dropdown-menu" [class.open]="primaryRoleDropdownOpened">
              <li *ngFor="let role of roles" (click)="selectPrimaryRole(role.id)">
                {{ role.name }}
              </li>
            </ul>
          </div>
        </div>
        <div class="role" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.5rem">
          <h4>Secondary Role</h4>
          <img [src]="orderDetails.secondaryRole.imgURL" alt="Secondary Role" />
          <div class="select" (click)="toggleSecondaryRoleMenu()" (clickOutside)="clickOutsideSecondaryRole($event)">
            <span>{{ orderDetails.secondaryRole.name }} </span>
            <ul class="dropdown-menu" [class.open]="secondaryRoleDropdownOpened">
              <li *ngFor="let role of roles" (click)="selectSecondaryRole(role.id)">
                {{ role.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-order-summary [orderDetails]="orderDetails"></app-order-summary>
  <app-footer></app-footer>
  <app-modal-card></app-modal-card>
</div>
