<section class="header">
  <app-navigation></app-navigation>
  <div class="header-content">
    <h1>Get your <br>Desired Rank</h1>
    <p>
      Let a professional player play on your account to quickly get to your
      desired division!
    </p>
  </div>
  <app-services-menu></app-services-menu>
</section>
<div class="content">
  <div class="order-menu">
    <div class="menu-item">
      <div class="display">
        <h2>1. Current Rank<span class="red"> *</span></h2>
        <p>Select your Current Rank below.</p>
        <!--  -->
        <img src="../../assets/rank-images/gold_4.png" alt="">
      </div>
      <div class="controls">
        <div class="rank-controls">
          <button class="controls-btn">
            <i class="material-icons">
              keyboard_arrow_down
            </i>
          </button>
          <div class="rank">
            <!-- {{}} -->
            <span>Gold</span>
            <ul>
              <li>Iron</li>
              <li>Bronze</li>
              <li>Silver</li>
              <li>Gold</li>
              <li>Platinum</li>
              <li>Diamond</li>
              <li>Master</li>
            </ul>
          </div>
        </div>
        <button class="controls-btn">
          <i class="material-icons">
            keyboard_arrow_up
          </i>
        </button>
      </div>
      <div class="division-controls">
        <button class="controls-btn">IV</button>
        <button class="controls-btn">III</button>
        <button class="controls-btn">II</button>
        <button class="controls-btn">I</button>
      </div>
      <div class="leaguepoints-controls">
        <button class="controls-btn">0 - 29 LP</button>
        <button class="controls-btn">30 - 59 LP</button>
        <button class="controls-btn">60 - 100 LP</button>
      </div>
    </div>
  </div>
  <div class="menu-item">
    <div class="display">
      <h2>2. Desired Rank<span class="red"> *</span></h2>
      <p>Select your Desired Rank below.</p>
      <!--  -->
      <img src="../../assets/rank-images/platinum_4.png" alt="">
    </div>
    <div class="controls">
      <div class="rank-controls">
        <button class="controls-btn">
          <i class="material-icons">
            keyboard_arrow_down
          </i>
        </button>
        <div class="rank">
          <span>Platinum</span>
          <ul>
            <li>Iron</li>
            <li>Bronze</li>
            <li>Silver</li>
            <li>Gold</li>
            <li>Platinum</li>
            <li>Diamond</li>
            <li>Master</li>
            <li>Grandmaster</li>
          </ul>
        </div>
        <button class="controls-btn">
          <i class="material-icons">
            keyboard_arrow_down
          </i>
        </button>
      </div>
      <div class="division-controls">
        <button class="controls-btn">IV</button>
        <button class="controls-btn">III</button>
        <button class="controls-btn">II</button>
        <button class="controls-btn">I</button>
      </div>
      <div class="server-queue-controls">
        <div class="server">
          <h5>Server<span class="red"> *</span></h5>
          <!--  -->
          <select name="servers" id="servers">
            <option value="">EU West</option>
          </select>
        </div>
        <div class="queue">
          <h5>Queue</h5>
          <!--  -->
          <select name="" id="">
            <option value="">Solo Queue</option>
          </select>
        </div>
      </div>
    </div>
    <div class="menu-item">
      <h2>3. Summoner Spells (optional)</h2>
      <p>Here you can choose wich keys you normally use for usummoner spells.</p>
      <div class="summoner-spell">
        <div class="keybind">D</div>
        <img src="" alt="summoner-spell-keybind-D">
        <!--  -->
        <select name="summoner-spell" id="">
          <option value="">Flash</option>
        </select>
      </div>
      <div class="summoner-spell">
        <div class="keybind">F</div>
        <img src="" alt="summoner-spell-keybind-F">
        <select name="" id="">
          <option value="">Ignite</option>
        </select>
      </div>
    </div>
    <div class="menu-item">
      <h2>4. Roles (optional)</h2>
      <p>You can choose your primary and secondary roles.</p>
      <div class="role">
        <h4>Primary Role</h4>
        <img src="" alt="">
        <select name="" id="">
          <option value="">Middle</option>
        </select>
      </div>
      <div class="role">
        <h4>Secondary Role</h4>
        <img src="" alt="">
        <select name="" id="">
          <option value="">Bottom</option>
        </select>
      </div>
    </div>
  </div>
</div>
