.services {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  width: 100%;
  position: relative;
  overflow-y: hidden;
  display: flex;
  justify-content: center;

  a {
    position: relative;
    font-size: 1.2rem;
    font-weight: 600;
    // padding: 0.5rem 0 1.5rem;
    padding: 1.5rem;
    text-align: center;

    &:hover {
      background-color: rgba(0, 252, 0, 0.15);
    }

    &::before {
      content: "";
      width: 20px;
      height: 20px;
      left: 50%;
      margin-left: -10px;
      transform: rotate(45deg);
      position: absolute;
      bottom: -13px;
      transition-duration: 0.3s;
    }

    &::after {
      content: "";
      height: 4px;
      width: 1%;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
      transition: width 0.4s ease;
    }

    &:hover::before {
      background-color: greenyellow;
    }

    &:hover::after {
      width: 100%;
      background-color: greenyellow;
    }
  }

}


@media screen and (max-width: 530px) {
  .services {
    justify-content: start;
  }
}
