  .navigation {
    padding: 0.5rem 1rem;
    background-color: rgb(0, 0, 0, 0.7);

    .burger-menu {
      i {
        font-size: 36px;
      }
    }

    .logo {
      img {
        height: 80px;
      }
    }
  }
