$background-color: #141917;

body {
  background-color: $background-color;
  font-family: Montserrat, "Segoe UI", Geneva, Verdana, sans-serif;
  color: #fff;
}
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px lighten($color: $background-color, $amount: 10%);
}

body::-webkit-scrollbar-thumb {
  background-color: lighten($color: $background-color, $amount: 10%);
  outline: 1px solid rgb(72, 81, 90);
  border-radius: 0.9rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

select {
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.primaryButton {
  background-color: #00af69;
  border-radius: 0.8rem;
  border-style: none;
  width: 15rem;
  padding: 1rem;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-weight: 600;
  font-size: 1rem;
  color: white;
}

button {
  font-family: inherit;
  border-style: none;
  color: #fff;
}

a {
  text-decoration: none;
}

.secondaryButton {
  background-color: green;
  padding: 0.8rem 1rem;
  text-align: center;
  font-weight: 600;
  border-radius: 0.4rem;
  margin: 1rem 0;
}

.username {
  text-align: center;
  background-color: #0ba100;
  padding: 1rem 0 1rem 0;
  font-size: 1.2rem;
}

.content-box {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  padding: 1rem;
}

// header

.header {
  background-image: url("./assets/design/Group\ 493.png");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // up to 500 px vw
  background-position-x: -500px;
  background-position-y: 30px;
}

.header-content {
  padding: 0rem 2rem;

  h1 {
    padding-top: 4.5rem;
    text-align: left;
    margin-bottom: 3.5rem;
    font-weight: 600;
    font-size: 2.3rem;
    line-height: 1.2;
  }

  // h3 {
  //   text-align: center;
  //   padding-bottom: .5rem;
  // }

  p {
    font-weight: 400;
    text-align: left;
    font-size: 1.2rem;
    color: lightgrey;
    width: 80%;
    line-height: 1.5;
    margin-bottom: 5.5rem;
  }
}

// end of header

// .content {
//   padding: 0 1rem;
// }

// .content-heading {
//   margin: 2rem 0 .5rem 0
// }

// Order Menu
.order-menu {
  margin-top: 0.5rem;
}

.order-menu {
  .order-selections {
    .select-box {
      select {
        width: 100%;
        height: 40px;
        background-color: #131313;
        border-style: solid;
        border-width: 1px;
        // border-color: $border-color;
        border-color: grey;
        padding: 0.5rem;
      }

      margin-bottom: 0.5rem;

      &:last-child {
        margin: 0;
      }

      h6 {
        margin-bottom: 0.2rem;
      }
    }

    .half {
      .select-box {
        margin: 0;
      }
    }
  }

  .order-rank-img {
    img {
      max-width: 150px;
      width: 100%;
    }
  }
}

.red {
  color: red;
}

.heading-label {
  margin: 0 0 0.3rem 0.2rem;
}
