@use "../../styles/_gradients.scss";

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 10%;

  .input-field {
    margin-bottom: 15px;

    label {
      font-size: .85rem;
      font-weight: 500;
    }

    input {
      width: 100%;
      padding: .6rem;
      @include _gradients.inputWhiteGradient();
      font-weight: 500;
      border: none;
      border-radius: .4rem;
      font-size: 1em;
    }

    &:last-of-type {
      margin: 0;
    }
  }


  button {
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    font-weight: 700;
    background-color: #272727; // put gradient?
    border-radius: .5rem;
    width: 100%;
    margin: 25px auto 25px auto;
  }

}

.options {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;

  a {
    font-size: .9rem;
    font-weight: 600;
  }
}
