<div class="order-summary">
  <!-- fxLayout="column" fxLayoutAlign="center center" -->
  <div class="headings">
    <h3>Order Summary</h3>
    <div class="details-headings">
      <h4 class="target">Gold IV <em>to</em> Platinum IV</h4>
      <h4>Approximate completion time: 12 hours</h4>
    </div>
  </div>
  <div class="extras" fxLayout="column">
    <h3>Extras</h3>
    <div class="extra">
      <!-- opacity line -->
      <!-- custom checkbox -->
      <div class="checkbox">
        <ang-slide-toggle barCheckedBgColor="#beebe9" sliderCheckedColor="#3fc5f0" barUncheckedBgColor="#ded5d5"
          sliderUncheckedColor="#bdbdbd" [checked]="false" [disabled]="false">
        </ang-slide-toggle>
      </div>
      <span>Priority order</span><span>(+20% cost)</span>
    </div>
  </div>
  <div class="features" fxLayout="column">
    <h3>Features</h3>
    <div class="feature">
      <img class="icon" src="../../assets/icons/chat_bubble_outline-white-18dp.svg" alt="chat-icon">
      <span>Chat with a booster</span>
      <span>Free</span>
    </div>
    <div class="feature">
      <img class="icon" src="../../assets/icons/pause_circle_outline-white-18dp.svg" alt="pause-icon">
      <span>Pause order</span>
      <span>Free</span>
    </div>
    <div class="feature">
      <img class="icon" src="../../assets/icons/schedule-white-18dp.svg" alt="schedule-icon">
      <span>Schedule order</span>
      <span>Free</span>
    </div>
    <div class="feature">
      <img class="icon" src="../../assets/icons/vpn_lock-white-18dp.svg" alt="vpn-icon">
      <span>VPN secured</span>
      <span>Free</span>
    </div>
  </div>
  <div class="coupon-code" fxLayout="column">
    <h3>Coupon Code</h3>

    <h5>Add Code</h5>
    <input type="text" />
  </div>
  <div class="total-price" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center center">
    <!-- if  -->
    <h3>Total Price</h3>
    <div>
      <h3 class="total-price-currency discount">€29.50</h3>
      <!-- if -->
      <span>(-20%)</span>
    </div>
  </div>
  <div class="new-price" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center center">
    <h3>New Price</h3>
    <h3 class="new-price-currency">€23.60</h3>
  </div>
  <div class="checkout-button">
    <!-- button -->
    <button>Checkout</button>
  </div>
  <div class="payment-providers">
    <!-- payment providers icons -->
  </div>
</div>
