<h1>Welcome to WildBoost Lab</h1>

<app-order-menu></app-order-menu>
<hr />
<app-panel></app-panel>

<hr />
<div class="login">
  <div *ngIf="auth.user$ | async as user; else login">
    <img [src]="user.photoURL" width="50px" />
    <p>
      <span class="tag is-dark">{{ user.displayName }} </span>
      <span class="tag is-light">{{ user.uid }}</span>
    </p>
    <hr />
    <button class="create-order" (click)="createOrder()">Create Order</button>
    <button class="button is-info" (click)="cs.create()">
      Create New Chat
    </button>
    <button class="button is-small" (click)="auth.signOut()">Sign Out</button>
    <hr />
    <div style="display:flex">
      <div class="chats">
        <h3>My Chats</h3>
        <ul>
          <li *ngFor="let chat of userChats$ | async">
            <a [routerLink]="'chats/' + chat.id"
              >{{ chat.id }} - {{ chat.messages.length }} Messages
            </a>
          </li>
        </ul>
      </div>
      <div class="orders">
        <h3>My Orders</h3>
        <ul>
          <li *ngFor="let order of userOrders$ | async">
            <!-- <a [routerLink]="'orders/' + order.id">Order Details - {{ order.id }} - {{ order.orderPassword }} </a> -->
            <a style="color: yellow" [routerLink]="'orders/' + order.id"
              >Order Details - {{ order.id }} - {{ order.orderPassword }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <ng-template #login>
    <button class="button" (click)="auth.googleSignIn()">
      Login with Google
    </button>
    <button class="button" (click)="auth.facebookSignIn()">
      Login with Facebook
    </button>
    <br />
    <input type="text" [(ngModel)]="email" placeholder="Email" />
    <input type="text" [(ngModel)]="password" placeholder="Password" />
    <button (click)="auth.emailSignIn(email, password)">Sing in</button>
  </ng-template>
</div>
