$logo_main_color: #8DE2FF;

.footer {
  margin-top: 30px;

  .footer-heading {
    font-size: 1.2rem;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: $logo_main_color;
  }

  .socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;

    .social-icon {
      display: flex;
      margin-right: 15px;
      cursor: pointer;

      a {
        display: flex;
      }

      img {
        max-width: 48px;
        max-height: 48px;
      }

      .svg {
        width: 100%;
      }

      &:last-child {
        margin: 0;
      }
    }


  }

  .services {
    display: flex;
    flex-direction: column;
    align-items: center;

    .services-section {
      display: flex;
      flex-direction: column;
      align-items: center;



      .footer-links {
        display: flex;
        align-items: center;
        // justify-content: space-between;
        flex-direction: column;

        .footer-link {
          margin-bottom: 10px;

          a {
            color: #fff;
          }
        }

        &:last-child {
          margin-bottom: 20px;
        }
      }
    }
  }

  .legal {
    p {
      margin-top: 5px;
      text-align: center;
      opacity: 0.8;
      font-size: 0.85rem;
    }
  }
}
