<footer>
  <h3 class="footer-heading" style="display: flex;
    justify-content: center;">SOCIALS</h3>
  <div class="socials">
    <div class="social-icon">
      <a href="https://www.facebook.com/ViktorIvanovX" target="_blank">
        <img src="../../../assets/socials-logos/Facebook_f_logo_(2019).svg" alt="Facebook Logo" width="36px">
      </a>
    </div>
    <div class="social-icon">
      <a href="https://www.instagram.com/viktorcho123/" target="_blank">
        <img src="../../../assets/socials-logos/IG_Glyph_Fill.png" alt="Instagram Logo">
      </a>
    </div>
    <div class="social-icon">
      <a href="">
        <img class="svg" src="../../../assets/socials-logos/Twitter_Logo_Blue.svg" alt="Twitter Logo">
      </a>
    </div>
    <div class="social-icon">
      <a href="">
        <img class="svg" src="../../../assets/socials-logos/Discord-Logo-Color.svg" alt="Discord Logo">
      </a>
    </div>
  </div>
  <div id="services">
    <div class="services-section">
      <h3 class="footer-heading">VIKTOR'S LAB</h3>
      <ul class="footer-links">
        <li class="footer-link"><a href="#">League Boosting</a></li>
        <li class="footer-link"><a href="#">Duo Queue Boosting</a></li>
        <li class="footer-link"><a href="#">Placement Matches</a></li>
      </ul>
    </div>
    <div class="services-section">
      <h3 class="footer-heading">INFORMATION</h3>
      <ul class="footer-links">
        <li class="footer-link"><a href="#">Frequently Asked Questions</a></li>
        <li class="footer-link"><a href="#">Terms and Conditions</a></li>
        <li class="footer-link"><a href="#">Contact Us</a></li>
        <li class="footer-link"><a href="#">Get a Job</a></li>
      </ul>
    </div>
  </div>
  <div class="logo">
    <!-- link img logo  -->
  </div>
  <div class="legal">
    <hr>
    <p>
      Copyright 2020 ©. By using you agree with our cookies and Terms and Conditions. We are in no way affiliated with,
      associated with or endorsed by Riot Games, Inc.
    </p>
  </div>
</footer>
