      <ng-container *ngIf="feedbackSent === false; else thankYou">
        <select name="starsrating" [(ngModel)]="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <br />
        <textarea style="width: 200px; height: 50px;" rows="2" cols="2" [(ngModel)]="text"
          placeholder="Write a feedback review. Remember, it can be shown to other users to see..."></textarea>
        <button (click)="sendFeedback()">Send Feedback</button>
      </ng-container>

      <ng-template #thankYou>
        <p style="background-color: green; color: white;">
          Feedback Received! Thanks for your time! :)
        </p>
      </ng-template>
