.order-status span {
  color: rgb(0, 255, 0);
  font-weight: 500;
}

.order-rank img {
  max-width: 90px;
  /* max-height: 100px; */
  margin: 5px;
}

.order-rank {
  align-items: center;
}

.bar-progress {
  margin-top: .5rem;
}

.pauseButton {
  padding: .6rem;
}

.content-small-box {
  margin-top: 1rem;

  button {
    padding: 0.5rem;
    width: 50%;
    height: 40px;
  }

  .content-heading {
    margin: 0 0 .5rem 0;
  }

  p {
    margin-bottom: 2rem;
  }

  .extend-button {
    button {
      background-color: #2b52c5;
    }
  }
}




.content-box {
  background-color: #1f2023;
  border: 1px solid #2d2f34;
  border-radius: 0.8rem;
  margin-bottom: 1.5rem;
  padding: .8rem;

  .order-details {
    .detail {
      h5 {
        font-size: 1rem;
        margin-bottom: 2px;
      }

      span {
        font-size: 1rem;
      }
    }
  }

  .order-status {
    span {
      text-align: center;
      font-weight: 600;
      text-transform: capitalize;
      margin-top: 10px;
      font-size: 1.1rem;
    }
  }
}

.secondaryButton {
  width: 50%;
  // margin: 0;
}

.bar-progress {
  margin-bottom: 1rem;
}
