.order-status span {
  color: #94cbff;
  font-weight: 500;
}

.bar-progress {
  margin-top: 0.5rem;
}

.pauseButton {
  padding: 0.6rem;
  margin-top: 15px;
  background-color: #595252;
  opacity: 0.95;
}

.content {
  max-width: 1400px;
  margin: 2rem auto;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: center;
}

.chat {
  max-width: 700px;
  width: 100%;
}

.content-small-box {
  margin-top: 1rem;

  button {
    padding: 0.5rem;
    width: 50%;
    height: 40px;
  }

  .content-heading {
    margin: 0 0 0.5rem 0;
  }

  p {
    margin-bottom: 2rem;
  }

  .extend-button {
    button {
      background-color: #1e42a9;
    }
  }
}

.content-box {
  background-color: #1f2023;
  border: 1px solid #2d2f34;
  border-radius: 0.8rem;
  margin-bottom: 1.5rem;
  padding: 0.8rem;
  max-width: 400px;

  .rank-progress {
    margin-bottom: 20px;

    .order-rank {
      align-items: center;

      img {
        max-width: 90px;
        /* max-height: 100px; */
        margin: 5px;
      }

      span {
        font-size: 0.9rem;
      }
    }
  }

  .order-details {
    .detail {
      h5 {
        font-size: 1rem;
        margin-bottom: 2px;
      }

      span {
        font-size: 1rem;
      }
    }
  }

  .order-status {
    span {
      text-align: center;
      font-weight: 600;
      text-transform: capitalize;
      margin-top: 10px;
      font-size: 1.1rem;
    }
  }
}

.secondaryButton {
  width: 50%;
  // margin: 0;
}

.bar-progress {
  margin-bottom: 1rem;
}

@media screen and (min-width: 960px) {
  .wrapper {
    margin-right: 40px;
  }
}
